---
---

<section class="hero">
  <h1>
    Hi, I'm <span class="line-through"><b>Sebastian T.</b>, a.k.a</span><b>
      Crazy Galanga.</b
    >
  </h1>
  <h2>Galanga Developer and <b>Frontend Designer</b></h2>
  <div id="portfolio" class="line"></div>
</section>

<style>
  .hero {
    max-width: 61.25rem;
    padding: 0 1.875rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
  }

  h1 {
    font-size: 6em;
    font-weight: 400;
    margin: 0;
  }

  .line-through {
    text-decoration: line-through;
  }

  b {
    font-weight: 700;
  }

  h2 {
    font-size: 1.625em;
    font-weight: 400;
    margin: 0;
  }

  .line {
    border-left: 1px solid transparent;
    height: 100px;
    margin: 0 auto;
    margin-top: 100px;
  }

  @media screen and (max-width: 1200px) {
    .hero {
      margin-top: 100px;
    }

    .line {
      margin-bottom: 100px;
    }
  }

  @media screen and (max-width: 992px) {
    .hero {
      border-bottom: 1px solid#eaeaea;
      margin-bottom: 150px;
      padding-bottom: 150px;
      height: auto;
    }

    .line {
      display: none;
    }
  }

  @media screen and (max-width: 576px) {
    .hero {
      margin-bottom: 100px;
      margin-top: 50px;
      margin-bottom: 100px;
      padding-bottom: 100px;
    }
    h1 {
      font-size: 18vw;
    }
  }

  @media screen and (max-width: 380px) {
    h1 {
      font-size: 17vw;
    }

    h3 {
      font-size: 1.425em;
    }
  }
</style>
