---
import WisiIndie from "../../assets/WisiIndie.webp";
---

<section class="proyecto">
  <article class="work__type--default">
    <div class="wrapper">
      <h3>WisiIndie</h3>
      <h2>
        <b>Website</b>
      </h2>
      <a href="https://wisi-indie.vercel.app/" target="_blank" rel="noreferrer"
        >View Site</a
      >
      <figure>
        <img
          src={WisiIndie.src}
          class="img--work1"
          alt="Mockup de la website de WisiIndie"
        />
      </figure>
    </div>
  </article>
</section>

<style>
  .proyecto {
    height: auto;
  }

  section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
    padding: 0 3rem;
  }

  .work__type--default {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 100%;
    padding-bottom: 9.375rem;
    text-align: center;
    border-bottom: 1px solid#eaeaea;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1107.444444px;
  }

  h3 {
    margin: 0;
    font-weight: 700;
  }

  h2 {
    font-size: 3.375em;
    margin: 0 0 10px 0;
  }

  b {
    font-weight: 700;
  }

  a {
    color: #0076ff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -webkit-transition: border.2s ease;
    -moz-transition: border.2s ease;
    -o-transition: border.2s ease;
    transition: border.2s ease;
  }

  .img--work1 {
    border-radius: 9px;
    margin-top: 2.7rem;
    box-shadow: -1px 3px 28px 0px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: -1px 3px 28px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: -1px 3px 28px 0px rgba(0, 0, 0, 0.41);
  }
</style>
