---
import WisiIndie from "../../assets/WisiIndie.webp";
import Spotify from "../../assets/SpotifyClone.webp";
import Phone from "../../assets/Phone.webp";
---

<section>
  <article class="wrapper">
    <div class="conteiner">
      <h3>WisiIndie</h3>
      <h2>
        <b>Website</b>
      </h2>
      <a href="https://wisi-indie.vercel.app/" target="_blank" rel="noreferrer"
        >View Site</a
      >
      <picture class="padre">
        <img
          src={WisiIndie.src}
          class="wisi__indie"
          alt="Mockup de la website de WisiIndie"
        />
        <img src={Phone.src } 
        class="wisi__indie_d"
        alt="Mockup de la website de WisiIndie"
        />
      </picture>
    </div>
  </article>
  <article class="wrapper" style="background-color: #fafbfc; padding-top: 9.375rem;">
    <div class="conteiner">
      <h3>Spotify Clone</h3>
      <h2>
        <b>Website</b>
      </h2>
      <a href="https://wisi-indie.vercel.app/" target="_blank" rel="noreferrer"
        >View Site</a
      >
      <picture class="padre">
        <img
          src={Spotify.src}
          class="wisi__indie"
          alt="Mockup de la website de WisiIndie"
        />
      </picture>
    </div>
  </article>
</section>

<style>
  section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
    height: auto;
  }

  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    padding: 0 3rem 9.375rem;
  }

  .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1107.444444px;
  }

  h3 {
    margin: 0;
    font-weight: 700;
  }

  h2 {
    font-size: 3.375em;
    margin: 0 0 10px 0;
  }

  b {
    font-weight: 700;
  }

  a {
    color: #0076ff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -webkit-transition: border.2s ease;
    -moz-transition: border.2s ease;
    -o-transition: border.2s ease;
    transition: border.2s ease;
  }

  .wisi__indie {
    border-radius: 9px;
    margin-top: 2.7rem;
    box-shadow: -1px 3px 28px 0px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: -1px 3px 28px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: -1px 3px 28px 0px rgba(0, 0, 0, 0.41);
  }

  .padre {
    position: relative;
  }

  .wisi__indie_d {
    position: absolute;
    top: 116px;
    left: 319px;
  }
</style>
