---
import Logo from "../assets/Logo.astro";
---

<header class="header">
  <nav class="nav">
    <div>
      <Logo />
    </div>
    <div class="nav__links">
      <a href="/portfolio" class="links__item">Portfolio</a>
      <a
        href="https://github.com/sebastianterleira"
        target="_blank"
        rel="noreferrer"
        class="links__item">GitHub</a
      >
      <a href="#" class="links__item">Contact</a>
    </div>
    <div>
      <a
        target="_blank"
        href="https://drive.google.com/file/d/1e7YlBlwD-CsX9cPvnyuAEHZYeD_tSUFg/view?usp=sharing"
        class="nav__cv">CV</a
      >
    </div>
  </nav>
</header>

<style>
  .header {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    max-width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: var(--zIndex-1);
  }

  .nav {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
    max-width: 61.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.25rem;
  }

  .nav__links {
    display: flex;
  }

  .links__item {
    margin-right: 20px;
    text-decoration: none;
    line-height: 0;
  }

  .nav__cv {
    color: #999;
    margin: 0;
    font-size: 0.75em;
  }
</style>
